:root{
    --transition-time: 0.5s;
    --valuechange-time: calc(var(--transition-time) / 2);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}
.moveable_div {
    --x: 0;
    --value: 0;
    position: absolute;
    transition: left var(--transition-time), height var(--valuechange-time);
    left: calc(var(--x) * var(--item-width));
    bottom: 0px;
    font-size: calc(var(--item-width) * 1.79);
    font-family: monospace;
    color: rgb(43, 43, 43);
    text-shadow: 4.7px 4.7px 4.7px #000;
}
.container {
    position: relative;
    --container-width: 90vw;
    --item-count: 12;
    --item-width: calc(var(--container-width) / var(--item-count));
    --container-height: calc(var(--item-width) * 2.07);
    width: var(--container-width);
    height: var(--container-height);
    display: inline-block;
}